[submodule "utilities/ext/breathelink"]
	path = utilities/ext/breathelink
	url = https://thewtex@github.com/thewtex/breathelink.git
[submodule "utilities/ext/breathe"]
	path = utilities/ext/breathe
	url = https://github.com/michaeljones/breathe
[submodule "utilities/ext/gitstats"]
	path = utilities/ext/gitstats
	url = /home/ajg23/GITROOT/gitstats/
