[submodule "Utilities/SphinxExtensions/breathelink"]
	path = Utilities/SphinxExtensions/breathelink
	url = https://github.com/thewtex/breathelink.git
[submodule "Utilities/SphinxExtensions/breathe"]
	path = Utilities/SphinxExtensions/breathe
	url = https://github.com/michaeljones/breathe
[submodule "Utilities/SphinxExtensions/gitstats"]
	path = Utilities/SphinxExtensions/gitstats
	url = https://github.com/arnaudgelas/gitstats.git
[submodule "Utilities/pydas"]
	path = Utilities/pydas
	url = https://github.com/midasplatform/pydas.git
