# Do not add ExternalData module staging files
.ExternalData*

# back-up files
*~
*.bak
*.swp

# KWStyle hook output
*.kws

# compiled python files
*.pyc

# Binary directory
BUILD*
build*

# qtcreator
CMakeLists.txt.user*

# kdevelop
*.kdev*
.kdev*

# back-up files when conflicts occur
*.orig

*.DS_Store

# Jupyter notebooks
.ipynb_checkpoints/
