[submodule "Utilities/SphinxExtensions/breathelink"]
	path = Utilities/SphinxExtensions/breathelink
	url = https://github.com/thewtex/breathelink.git
[submodule "Utilities/SphinxExtensions/breathe"]
	path = Utilities/SphinxExtensions/breathe
	url = https://github.com/michaeljones/breathe
[submodule "Utilities/SphinxExtensions/sphinx-bootstrap-theme"]
	path = Utilities/SphinxExtensions/sphinx-bootstrap-theme
	url = https://github.com/ryan-roemer/sphinx-bootstrap-theme
